{% extends 'base/base.html' %}
{% block block_content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ssttrano</title>
        <link rel="stylesheet" href='{% static 'css/style.css' %}'>
    </head>

    <div class="parallax_1">

    </div>

        <div class="content_1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aspernatur consequatur corporis cumque delectus exercitationem fugit id, in labore laudantium magni molestias nam necessitatibus nulla obcaecati officiis porro possimus quae quo repellat reprehenderit repudiandae soluta ut? Cumque dolore, error modi provident reiciendis soluta sunt temporibus tenetur vero? Exercitationem quasi, quo?
            </p>
        </div>

    <div class="parallax_2"></div>
    <div class="content_2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt
            </p>
    </div>
    </html>

{% endblock %}