{% extends 'base/base.html' %}
{% block block_content %}

    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ssttrano</title>
        <link rel="stylesheet" href='{% static '/css/style.css' %}'>
    </head>

    <div class="parallax_1">

        <section class="add-user">
            <form method="POST" action="{% url 'clear purchase' object.pk %}">
                {{ form }}
                {% csrf_token %}

                <button class="a-header" type="submit">Clear your purchase</button>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolor dolore eveniet labore
                    molestiae, nesciunt nisi possimus repellat suscipit temporibus.</p>
            </form>
        </section>


    </div>
    <div class="content_1">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt
            fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus.
            Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam
            vero laudantium, voluptas odio ullam.</p>
    </div>

    <div class="parallax_2"></div>
    <div class="content_2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo hic sunt exercitationem repellendus nesciunt
            fugit voluptas reprehenderit quibusdam, qui labore, iste asperiores. Similique tenetur, quia earum ut natus.
            Reiciendis odit quis alias totam, facilis a nemo, fugit laborum quod, enim dicta eaque voluptatem itaque nam
            vero laudantium, voluptas odio ullam.</p>
    </div>
    </html>

{% endblock %}

