<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Caffe</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static '/css/import_style.css' %}"/>
</head>

<body>

<header>
    <div class="nav">
        {% if request.user.is_authenticated %}
            <div class="last-nav">
                <a class="a-header" href="{% url 'index' %}">Home</a>
                {% if request.user.is_staff %}
                    <a class="a-header" href="{% url 'create product' %}">Create product</a>
                {% endif %}
{#                <a class="a-header" href="{% url 'catalog' %}">Catalogue</a>#}
                <a class="a-header" href="{% url 'purchase' request.user.id %}">Purchases</a>
            </div>
            <div class="profile_logout_nav">
                <a class="a-header" href="{% url 'profile details' request.user.id %}">Profile</a>
                <a class="a-header" href="{% url 'logout' request.user.id %}">Logout</a>
            </div>
            </div>
        {% endif %}
            {% if not request.user.is_authenticated %}
                <a class="a-header" href="{% url 'register' %}">Register</a>
                <a class="a-header" href="{% url 'login user' %}">Login</a>
            {% endif %}


</header>



{% block block_content %}
{% endblock %}

<!-- Footer -->
<footer>
    <div>

    </div>
</footer>
<!-- End Footer -->


</body>
</html>
